//- include main.html
extends layout

block content

    h1= title
    label(class="switch")
      input(type="checkbox" id = "interact")
      span(class="slider")
      label(id = 'sliderNote') O&nbspto&nbspD
    div(id = "map" class="map")
    div(id="viewDiv")
    div(id="legendDiv")  
      div(class='legendClass' id = 'dynamicLegend')
    div(id='dynamicRadioContainers')

    div(id="wait" style="display:none;width:69px;height:89px; solid black;position:absolute;top:50%;left:50%;padding:2px;")
      img(src='./images/demo_wait.gif' width="64" height="64")
      Thing Loading...
    //- script.
    //-   console.log($('#map').attr('id'))
      //pass data to frontend from backend
    script.
      var title = !{JSON.stringify(title)};
      var sliderType = !{JSON.stringify(sliderType)};
      console.log(sliderType)

    script(src="/javascripts/test.js")
