//- include main.html
extends layout

block content

    h1= title
    label(class="switch")
      input(type="checkbox" id = "interact")
      span(class="slider")
      label(id = 'sliderNote') O&nbspto&nbspD
    div(id = "map" class="map")
    div(id="viewDiv")
    div(id="legendDiv")  
      div(class='legendClass' id = 'dynamicLegend')
    div(id = 'radioContainer1')
      div(id="radios1")
        input(id="optionWork" name="options1" type="radio" value = 'Work' checked)
        label(for="optionWork") Work
        input(id="optionPSE" name="options1" type="radio" value = 'PSE')
        label(for="optionPSE") Post Secondary Education
        input(id="optionGS" name="options1" type="radio" value = 'GS')
        label(for="optionGS") Grade School
        input(id="optionOther" name="options1" type="radio" value = 'Other')
        label(for="optionOther") Other
        
    div(id = 'radioContainer2')
      div(id="radios2")
        input(id="optionNocar" name="options2" type="radio" value = 'No')
        label(for="optionNocar") No Car
        input(id="optionInsuffcar" name="options2" type="radio" value = 'Ins' checked)
        label(for="optionInsuffcar") Insuff Car
        input(id="optionSuffcar" name="options2" type="radio" value = 'Suff')
        label(for="optionSuffcar") Suff Car
        input(id="optionNCAW" name="options2" type="radio" value='NCAW')
        label(for="optionNCAW") Need&nbspCar At&nbspWork
    div(id = 'radioContainer2_1')
      div(id="radios2_1")
        input(id="optionNocar_1" name="options2_1" type="radio" value = 'No')
        label(for="optionNocar_1") No Car
        input(id="optionInsuffcar_1" name="options2_1" type="radio" value = 'Ins' checked)
        label(for="optionInsuffcar_1") Insuff Car
        input(id="optionSuffcar_1" name="options2_1" type="radio" value = 'Suff')
        label(for="optionSuffcar_1") Suff Car
    div(id = 'radioContainer3')
      div(id="radios3")
        input(id="optionHi" name="options3" type="radio" value = 'Hi')
        label(for="optionHi") High Income
        input(id="optionMed" name="options3" type="radio" value = 'Med' checked)
        label(for="optionMed") Medium Income
        input(id="optionLow" name="options3" type="radio" value = 'Lo')
        label(for="optionLow") Low Income
    div(id = 'radioContainer4')
      div(id="radios4")
        input(id="optionPre" name="options4" type="radio" value = 'Pre')
        label(for="optionPre") Preschool
        input(id="optionElem" name="options4" type="radio" value = 'Elem' checked)
        label(for="optionElem") Elementary School
        input(id="optionJHS" name="options4" type="radio" value = 'JHS' )
        label(for="optionJHS") Junior High
        input(id="optionSHSLic" name="options4" type="radio" value = 'SHS_Lic')
        label(for="optionSHSLic") SHS With License
        input(id="optionSHSNoLic" name="options4" type="radio" value = 'SHS_NoLic')
        label(for="optionSHSNoLic") SHS Without License
    div(id = 'radioContainer5')
      div(id="radios5")
        input(id="optionAll" name="options5" type="radio" value = 'All' checked)
        label(for="optionAll") All
        input(id="optionEat" name="options5" type="radio" value = 'Eat')
        label(for="optionEat") Eat
        input(id="optionPB" name="options5" type="radio" value = 'PB')
        label(for="optionPB") PB
        input(id="optionPUDO" name="options5" type="radio" value = 'PUDO')
        label(for="optionPUDO") PUDO
        input(id="optionQS" name="options5" type="radio" value = 'QS')
        label(for="optionQS") QS
        input(id="optionRec" name="options5" type="radio" value = 'Rec')
        label(for="optionRec") Rec
        input(id="optionShop" name="options5" type="radio" value = 'Shop')
        label(for="optionShop") Shop
        input(id="optionSoc" name="options5" type="radio" value = 'Soc')
        label(for="optionSoc") Soc
        
    div(id="wait" style="display:none;width:69px;height:89px; solid black;position:absolute;top:50%;left:50%;padding:2px;")
      img(src='./images/demo_wait.gif' width="64" height="64")
      Thing Loading...
    //- script.
    //-   console.log($('#map').attr('id'))
      //pass data to frontend from backend
    script.
      var title = !{JSON.stringify(title)};
    script(src="/javascripts/test.js")
